<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" type="image/jpg" href="whatsapp.png">
    <title>WhatsAap</title>
</head>

<body>
<div class="sidebar">
    <div class="header">
        <div class="avatar">
            <img src="avatar.png" alt="">
            </div>
       <div class="chat-header-right">
           <img src="cicle-notch-solid.svg" alt="">
           <img src="chat.svg" alt="">
        <img src="more.svg" alt="">
        </div>
            </div>  
</div> 
<div class="message-container"></div>

</body>
</html>