.sidebar{
    margin: 0;
    padding: 0;
    box-sizzing: border-box;
    color: #303030;
    font-family: 'Roboto', sans-serif;
}

.avatar{
    position: relative;
    width: 40px;
    height: 40;
    border-radius: 50;
    overflow: hidden;

}
.avatar img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100;
    height: 100;
    object-fit: cover;
    
}